/* style sheet */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
/* styling for nav-bar  */
.navbar-brand{
    /* color: rgb(63, 60, 60); */
    padding: 0 5%;
    font-size: 35px;
    font-weight: 600;
    transition: all 500ms ease;
}
.navbar-brand span{
    color: crimson;
}
.collapse{
    font-size: 18px;
    font-weight: 500;
}
.nav-content button,a{
    color:black;
    transition: all 500ms ease;
}
.navbar-brand:hover{
    color: rgb(63, 60, 60);;
    transform: scale(1.5);
}
.nav-content a:hover{
    color:black;
    transform: scale(1.3);
}
.navbar-nav li{
    padding: 0 1rem;
}

/* styling for home  */
.home{
    display: flex;
    /* background-image: url("./banner.jpg"); */
    background: url("./jk_image_witoutbg.png") no-repeat right;
    height: 100vh;
    margin-top: 40px;
}

.home .home-width{
    margin: auto 0 auto 150px;
}

.home .home-content .text1{
    font-size: 27px;
}
.home .home-content .text2{
    font-size: 75px;
    font-weight: 600;
}
.home .home-content .text3{
    font-size: 40px;
}
.home .home-content .text3 span{
    color: crimson;
    font-weight: 500;
}

/* styling for about  */
.about-heading{
    margin: 0 40%;
}
.about-heading #abouth1{
    font-size: 30px;
}
.about-heading #abouth2{
    font-size: 18px;
    color: crimson;
}
.about-heading #abouth2 span{
    color: black;
    letter-spacing: -2px;
    font-weight: 550;
}
.about-area{
    margin-top: 50px;
}

.img-fluid{
    /* padding: 20px; */
    background-color: rgb(92, 116, 92);
    width: 350px;
    height: 400px;
}
.about-content{
    padding: 2rem;
    margin: 1rem;
    /* background-color: #ccc; */
}
.about-content span{
    color:crimson;  
}
.about-content .btn{
    background-color:crimson; 
    color: white; 
}

/* styling for skills  */
.skills-heading{
    margin: 0 40%;
}
.skills-heading #skillsh1{
    font-size: 30px;
}
.skills-heading #skillsh2{
    color: crimson;
    font-size: 18px;
}
.skills-heading #skillsh2 span{
    color: black;
    letter-spacing: -2px;
    font-weight: 550;
}
.skills-area .skills-content{
    margin-top: 1rem;
}

/* styling for Education and Experience */
.eduexp-heading{
    margin: 0 40%;
}
.eduexp-heading #eduexph1{
    font-size: 25px;
    font-weight: 550;
}
.eduexp-heading #eduexph2{
    font-size: 18px;
    color: crimson; 
}
.eduexp-heading #eduexph2 span{
    color: black; 
    letter-spacing: -2px;
}
.carousel-item{
    margin-top: 2rem;
    width: 100%;
    height: 500px;
}
.Education{
    margin-top: 2rem;
    color: #dd2d4a;
    font-size: 20px;
    font-weight: 600;
}
.Education .row{
    height: 100px;
    margin: 15px 10px;
}
.Experience {
    margin-top: 2rem;
    color: #dd2d4a;
    font-size: 20px;
    font-weight: 600;
}

/* styling for contact  */
.contact-heading{
    margin: 0 40%;
}
.contact-heading #contacth1{
    font-size: 30px;
}
.contact-heading #contacth2{
    font-size: 18px;
    color: crimson;
}
.contact-heading #contacth2 span{
    color: black; 
    letter-spacing: -2px;
    font-weight: 550;
}
.contact-content{
    padding-left: 1rem;
    margin-top: 3rem;
}
.contact-details .row{
    margin: 1rem;
}
.contact-content .btn{
    background-color: crimson;
    color: white;
}

/* styling for footer  */
.footer{
    width: 100%;
    height: 50px;
    background-color: rgb(226, 220, 220);

}
.footer-content{
    padding-top: 1%;
    padding-left: 35%;
}
.footer-content span{
   color: crimson;
}
